In [1]:
import pandas as pd

In [2]:
gdp = pd.read_csv('./gdp-capital.csv')
gdp.head(5)

,Sno,Country/Territory,UN Region,IMF,IMF-Year,World Bank,World Bank - Year,United Nations,United Nations - Year
0,1,Monaco,Europe,0,0,234316,2021,234317,2021
1,2,Liechtenstein,Europe,0,0,157755,2020,169260,2021
2,3,Luxembourg,Europe,132372,2023,133590,2021,133745,2021
3,4,Ireland,Europe,114581,2023,100172,2021,101109,2021
4,5,Bermuda,Americas,0,0,114090,2021,112653,2021

In [3]:
def appendIMF(s,c,r,imfa,imfy):
  bank_name = "IMF"
  # print(bank_name)
  # print(s)
  # print(c)
  # print(r)
  # print(imfa)
  # print(imfy)
  # print("-------------------- Seprator --------------------")
  gdp_formated_dict["Sno"].append(s)
  gdp_formated_dict["Country/Territory"].append(c)
  gdp_formated_dict["UN Region"].append(r)
  gdp_formated_dict["Bank"].append(bank_name)
  gdp_formated_dict["Ammount"].append(imfa)
  gdp_formated_dict["Year"].append(imfy)

In [4]:
def appendWorldBank(s,c,r,wba,wby):
  bank_name = "World Bank"
  # print(bank_name)
  # print(s)
  # print(c)
  # print(r)
  # print(wba)
  # print(wby)
  # print("-------------------- Seprator --------------------")
  gdp_formated_dict["Sno"].append(s)
  gdp_formated_dict["Country/Territory"].append(c)
  gdp_formated_dict["UN Region"].append(r)
  gdp_formated_dict["Bank"].append(bank_name)
  gdp_formated_dict["Ammount"].append(wba)
  gdp_formated_dict["Year"].append(wby)

In [5]:
def appendUnitedNations(s,c,r,una,uny):
  bank_name = "United Nations"
  # print(bank_name)
  # print(s)
  # print(c)
  # print(r)
  # print(una)
  # print(uny)
  # print("-------------------- Seprator --------------------")
  gdp_formated_dict["Sno"].append(s)
  gdp_formated_dict["Country/Territory"].append(c)
  gdp_formated_dict["UN Region"].append(r)
  gdp_formated_dict["Bank"].append(bank_name)
  gdp_formated_dict["Ammount"].append(una)
  gdp_formated_dict["Year"].append(uny)

In [6]:
gdp_formated_dict = {"Sno":[],"Country/Territory":[],"UN Region":[],"Bank":[],"Ammount":[],"Year":[]}
gdp_formated_dict

for i in range(0,len(gdp)):
  print(f"Data {i+1} load at this iloc {i}")
  sno = gdp['Sno'].iloc[i]
  country = gdp['Country/Territory'].iloc[i]
  region = gdp['UN Region'].iloc[i]
  imfAmount = gdp['IMF'].iloc[i]
  imfYear = gdp['IMF-Year'].iloc[i]
  worldBankAmount = gdp['World Bank'].iloc[i]
  worldBankYear = gdp['World Bank - Year'].iloc[i]
  unitedNationsAmount = gdp['United Nations'].iloc[i]
  unitedNationsYear = gdp['World Bank - Year'].iloc[i]

  # IMF Change
  appendIMF(sno,country,region,imfAmount,imfYear)

  # World Bank Change
  appendWorldBank(sno,country,region,worldBankAmount,worldBankYear)

  # United Nations Change
  appendUnitedNations(sno,country,region,unitedNationsAmount,unitedNationsYear)
  
  print()
  print('----------------------------------------------------------------------')
  print()

Data 1 load at this iloc 0

----------------------------------------------------------------------

Data 2 load at this iloc 1

----------------------------------------------------------------------

Data 3 load at this iloc 2

----------------------------------------------------------------------

Data 4 load at this iloc 3

----------------------------------------------------------------------

Data 5 load at this iloc 4

----------------------------------------------------------------------

Data 6 load at this iloc 5

----------------------------------------------------------------------

Data 7 load at this iloc 6

----------------------------------------------------------------------

Data 8 load at this iloc 7

----------------------------------------------------------------------

Data 9 load at this iloc 8

----------------------------------------------------------------------

Data 10 load at this iloc 9

----------------------------------------------------------------------

Data 11 load at this iloc 10

----------------------------------------------------------------------

Data 12 load at this iloc 11

----------------------------------------------------------------------

Data 13 load at this iloc 12

----------------------------------------------------------------------

Data 14 load at this iloc 13

----------------------------------------------------------------------

Data 15 load at this iloc 14

----------------------------------------------------------------------

Data 16 load at this iloc 15

----------------------------------------------------------------------

Data 17 load at this iloc 16

----------------------------------------------------------------------

Data 18 load at this iloc 17

----------------------------------------------------------------------

Data 19 load at this iloc 18

----------------------------------------------------------------------

Data 20 load at this iloc 19

----------------------------------------------------------------------

Data 21 load at this iloc 20

----------------------------------------------------------------------

Data 22 load at this iloc 21

----------------------------------------------------------------------

Data 23 load at this iloc 22

----------------------------------------------------------------------

Data 24 load at this iloc 23

----------------------------------------------------------------------

Data 25 load at this iloc 24

----------------------------------------------------------------------

Data 26 load at this iloc 25

----------------------------------------------------------------------

Data 27 load at this iloc 26

----------------------------------------------------------------------

Data 28 load at this iloc 27

----------------------------------------------------------------------

Data 29 load at this iloc 28

----------------------------------------------------------------------

Data 30 load at this iloc 29

----------------------------------------------------------------------

Data 31 load at this iloc 30

----------------------------------------------------------------------

Data 32 load at this iloc 31

----------------------------------------------------------------------

Data 33 load at this iloc 32

----------------------------------------------------------------------

Data 34 load at this iloc 33

----------------------------------------------------------------------

Data 35 load at this iloc 34

----------------------------------------------------------------------

Data 36 load at this iloc 35

----------------------------------------------------------------------

Data 37 load at this iloc 36

----------------------------------------------------------------------

Data 38 load at this iloc 37

----------------------------------------------------------------------

Data 39 load at this iloc 38

----------------------------------------------------------------------

Data 40 load at this iloc 39

----------------------------------------------------------------------

Data 41 load at this iloc 40

----------------------------------------------------------------------

Data 42 load at this iloc 41

----------------------------------------------------------------------

Data 43 load at this iloc 42

----------------------------------------------------------------------

Data 44 load at this iloc 43

----------------------------------------------------------------------

Data 45 load at this iloc 44

----------------------------------------------------------------------

Data 46 load at this iloc 45

----------------------------------------------------------------------

Data 47 load at this iloc 46

----------------------------------------------------------------------

Data 48 load at this iloc 47

----------------------------------------------------------------------

Data 49 load at this iloc 48

----------------------------------------------------------------------

Data 50 load at this iloc 49

----------------------------------------------------------------------

Data 51 load at this iloc 50

----------------------------------------------------------------------

Data 52 load at this iloc 51

----------------------------------------------------------------------

Data 53 load at this iloc 52

----------------------------------------------------------------------

Data 54 load at this iloc 53

----------------------------------------------------------------------

Data 55 load at this iloc 54

----------------------------------------------------------------------

Data 56 load at this iloc 55

----------------------------------------------------------------------

Data 57 load at this iloc 56

----------------------------------------------------------------------

Data 58 load at this iloc 57

----------------------------------------------------------------------

Data 59 load at this iloc 58

----------------------------------------------------------------------

Data 60 load at this iloc 59

----------------------------------------------------------------------

Data 61 load at this iloc 60

----------------------------------------------------------------------

Data 62 load at this iloc 61

----------------------------------------------------------------------

Data 63 load at this iloc 62

----------------------------------------------------------------------

Data 64 load at this iloc 63

----------------------------------------------------------------------

Data 65 load at this iloc 64

----------------------------------------------------------------------

Data 66 load at this iloc 65

----------------------------------------------------------------------

Data 67 load at this iloc 66

----------------------------------------------------------------------

Data 68 load at this iloc 67

----------------------------------------------------------------------

Data 69 load at this iloc 68

----------------------------------------------------------------------

Data 70 load at this iloc 69

----------------------------------------------------------------------

Data 71 load at this iloc 70

----------------------------------------------------------------------

Data 72 load at this iloc 71

----------------------------------------------------------------------

Data 73 load at this iloc 72

----------------------------------------------------------------------

Data 74 load at this iloc 73

----------------------------------------------------------------------

Data 75 load at this iloc 74

----------------------------------------------------------------------

Data 76 load at this iloc 75

----------------------------------------------------------------------

Data 77 load at this iloc 76

----------------------------------------------------------------------

Data 78 load at this iloc 77

----------------------------------------------------------------------

Data 79 load at this iloc 78

----------------------------------------------------------------------

Data 80 load at this iloc 79

----------------------------------------------------------------------

Data 81 load at this iloc 80

----------------------------------------------------------------------

Data 82 load at this iloc 81

----------------------------------------------------------------------

Data 83 load at this iloc 82

----------------------------------------------------------------------

Data 84 load at this iloc 83

----------------------------------------------------------------------

Data 85 load at this iloc 84

----------------------------------------------------------------------

Data 86 load at this iloc 85

----------------------------------------------------------------------

Data 87 load at this iloc 86

----------------------------------------------------------------------

Data 88 load at this iloc 87

----------------------------------------------------------------------

Data 89 load at this iloc 88

----------------------------------------------------------------------

Data 90 load at this iloc 89

----------------------------------------------------------------------

Data 91 load at this iloc 90

----------------------------------------------------------------------

Data 92 load at this iloc 91

----------------------------------------------------------------------

Data 93 load at this iloc 92

----------------------------------------------------------------------

Data 94 load at this iloc 93

----------------------------------------------------------------------

Data 95 load at this iloc 94

----------------------------------------------------------------------

Data 96 load at this iloc 95

----------------------------------------------------------------------

Data 97 load at this iloc 96

----------------------------------------------------------------------

Data 98 load at this iloc 97

----------------------------------------------------------------------

Data 99 load at this iloc 98

----------------------------------------------------------------------

Data 100 load at this iloc 99

----------------------------------------------------------------------

Data 101 load at this iloc 100

----------------------------------------------------------------------

Data 102 load at this iloc 101

----------------------------------------------------------------------

Data 103 load at this iloc 102

----------------------------------------------------------------------

Data 104 load at this iloc 103

----------------------------------------------------------------------

Data 105 load at this iloc 104

----------------------------------------------------------------------

Data 106 load at this iloc 105

----------------------------------------------------------------------

Data 107 load at this iloc 106

----------------------------------------------------------------------

Data 108 load at this iloc 107

----------------------------------------------------------------------

Data 109 load at this iloc 108

----------------------------------------------------------------------

Data 110 load at this iloc 109

----------------------------------------------------------------------

Data 111 load at this iloc 110

----------------------------------------------------------------------

Data 112 load at this iloc 111

----------------------------------------------------------------------

Data 113 load at this iloc 112

----------------------------------------------------------------------

Data 114 load at this iloc 113

----------------------------------------------------------------------

Data 115 load at this iloc 114

----------------------------------------------------------------------

Data 116 load at this iloc 115

----------------------------------------------------------------------

Data 117 load at this iloc 116

----------------------------------------------------------------------

Data 118 load at this iloc 117

----------------------------------------------------------------------

Data 119 load at this iloc 118

----------------------------------------------------------------------

Data 120 load at this iloc 119

----------------------------------------------------------------------

Data 121 load at this iloc 120

----------------------------------------------------------------------

Data 122 load at this iloc 121

----------------------------------------------------------------------

Data 123 load at this iloc 122

----------------------------------------------------------------------

Data 124 load at this iloc 123

----------------------------------------------------------------------

Data 125 load at this iloc 124

----------------------------------------------------------------------

Data 126 load at this iloc 125

----------------------------------------------------------------------

Data 127 load at this iloc 126

----------------------------------------------------------------------

Data 128 load at this iloc 127

----------------------------------------------------------------------

Data 129 load at this iloc 128

----------------------------------------------------------------------

Data 130 load at this iloc 129

----------------------------------------------------------------------

Data 131 load at this iloc 130

----------------------------------------------------------------------

Data 132 load at this iloc 131

----------------------------------------------------------------------

Data 133 load at this iloc 132

----------------------------------------------------------------------

Data 134 load at this iloc 133

----------------------------------------------------------------------

Data 135 load at this iloc 134

----------------------------------------------------------------------

Data 136 load at this iloc 135

----------------------------------------------------------------------

Data 137 load at this iloc 136

----------------------------------------------------------------------

Data 138 load at this iloc 137

----------------------------------------------------------------------

Data 139 load at this iloc 138

----------------------------------------------------------------------

Data 140 load at this iloc 139

----------------------------------------------------------------------

Data 141 load at this iloc 140

----------------------------------------------------------------------

Data 142 load at this iloc 141

----------------------------------------------------------------------

Data 143 load at this iloc 142

----------------------------------------------------------------------

Data 144 load at this iloc 143

----------------------------------------------------------------------

Data 145 load at this iloc 144

----------------------------------------------------------------------

Data 146 load at this iloc 145

----------------------------------------------------------------------

Data 147 load at this iloc 146

----------------------------------------------------------------------

Data 148 load at this iloc 147

----------------------------------------------------------------------

Data 149 load at this iloc 148

----------------------------------------------------------------------

Data 150 load at this iloc 149

----------------------------------------------------------------------

Data 151 load at this iloc 150

----------------------------------------------------------------------

Data 152 load at this iloc 151

----------------------------------------------------------------------

Data 153 load at this iloc 152

----------------------------------------------------------------------

Data 154 load at this iloc 153

----------------------------------------------------------------------

Data 155 load at this iloc 154

----------------------------------------------------------------------

Data 156 load at this iloc 155

----------------------------------------------------------------------

Data 157 load at this iloc 156

----------------------------------------------------------------------

Data 158 load at this iloc 157

----------------------------------------------------------------------

Data 159 load at this iloc 158

----------------------------------------------------------------------

Data 160 load at this iloc 159

----------------------------------------------------------------------

Data 161 load at this iloc 160

----------------------------------------------------------------------

Data 162 load at this iloc 161

----------------------------------------------------------------------

Data 163 load at this iloc 162

----------------------------------------------------------------------

Data 164 load at this iloc 163

----------------------------------------------------------------------

Data 165 load at this iloc 164

----------------------------------------------------------------------

Data 166 load at this iloc 165

----------------------------------------------------------------------

Data 167 load at this iloc 166

----------------------------------------------------------------------

Data 168 load at this iloc 167

----------------------------------------------------------------------

Data 169 load at this iloc 168

----------------------------------------------------------------------

Data 170 load at this iloc 169

----------------------------------------------------------------------

Data 171 load at this iloc 170

----------------------------------------------------------------------

Data 172 load at this iloc 171

----------------------------------------------------------------------

Data 173 load at this iloc 172

----------------------------------------------------------------------

Data 174 load at this iloc 173

----------------------------------------------------------------------

Data 175 load at this iloc 174

----------------------------------------------------------------------

Data 176 load at this iloc 175

----------------------------------------------------------------------

Data 177 load at this iloc 176

----------------------------------------------------------------------

Data 178 load at this iloc 177

----------------------------------------------------------------------

Data 179 load at this iloc 178

----------------------------------------------------------------------

Data 180 load at this iloc 179

----------------------------------------------------------------------

Data 181 load at this iloc 180

----------------------------------------------------------------------

Data 182 load at this iloc 181

----------------------------------------------------------------------

Data 183 load at this iloc 182

----------------------------------------------------------------------

Data 184 load at this iloc 183

----------------------------------------------------------------------

Data 185 load at this iloc 184

----------------------------------------------------------------------

Data 186 load at this iloc 185

----------------------------------------------------------------------

Data 187 load at this iloc 186

----------------------------------------------------------------------

Data 188 load at this iloc 187

----------------------------------------------------------------------

Data 189 load at this iloc 188

----------------------------------------------------------------------

Data 190 load at this iloc 189

----------------------------------------------------------------------

Data 191 load at this iloc 190

----------------------------------------------------------------------

Data 192 load at this iloc 191

----------------------------------------------------------------------

Data 193 load at this iloc 192

----------------------------------------------------------------------

Data 194 load at this iloc 193

----------------------------------------------------------------------

Data 195 load at this iloc 194


In [7]:
# gdp_formated_dict

In [8]:
new_gdp = pd.DataFrame(gdp_formated_dict)
new_gdp.head(5)

   Sno Country/Territory UN Region            Bank  Ammount  Year
0    1            Monaco    Europe             IMF        0     0
1    1            Monaco    Europe      World Bank   234316  2021
2    1            Monaco    Europe  United Nations   234317  2021
3    2     Liechtenstein    Europe             IMF        0     0
4    2     Liechtenstein    Europe      World Bank   157755  2020

In [9]:
new_gdp

     Sno Country/Territory UN Region            Bank  Ammount  Year
0      1            Monaco    Europe             IMF        0     0
1      1            Monaco    Europe      World Bank   234316  2021
2      1            Monaco    Europe  United Nations   234317  2021
3      2     Liechtenstein    Europe             IMF        0     0
4      2     Liechtenstein    Europe      World Bank   157755  2020
..   ...               ...       ...             ...      ...   ...
664  222       Afghanistan      Asia      World Bank      369  2021
665  222       Afghanistan      Asia  United Nations      373  2021
666  223           Burundi    Africa             IMF      249  2023
667  223           Burundi    Africa      World Bank      222  2021
668  223           Burundi    Africa  United Nations      311  2021

[669 rows x 6 columns]

In [10]:
new_gdp.to_csv("gdp-per-capital-restructered.csv")